body {
    background-image: url('stars.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    
    font-family: 'PT Mono', 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    color: rgb(64, 0, 255);
    padding: 100px 100;
} 

p {
    color: rgb(255, 234, 0);
    text-align: center;
}

header {
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
}

main section {
    padding: 20px;
}

footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 100px;
}
#corner-image {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 200px;
    height: auto; 
    animation: shake 6s ease infinite;
}

#corner-image-left {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 200px;
    height: auto; 
    animation: shake 6s ease infinite;
}

@keyframes shake {
    0% { transform: translateX(0); }
    10% { transform: translateX(-5px) rotate(5deg); }
    20% { transform: translateX(5px) rotate(-5deg); }
    30% { transform: translateX(-5px) rotate(5deg); }
    40% { transform: translateX(5px) rotate(-5deg); }
    50% { transform: translateX(-5px) rotate(5deg); }
    60% { transform: translateX(5px) rotate(-5deg); }
    70% { transform: translateX(-5px) rotate(5deg); }
    80% { transform: translateX(5px) rotate(-5deg); }
    90% { transform: translateX(-5px) rotate(5deg); }
    100% { transform: translateX(0); }
}


/* utility classes */

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-col{
    flex-direction: column;
}
